footer
    .container
        .row
          .col-lg-4
            h3  Contact Us 
            |         
            address
              strong Software Freedom Law Centre, India
              br
              |           K-9, Second Floor,
              br
              |           Jangpura Extension,
              br
              |           New Delhi - 110014, India.
            |         
            span.glyphicon.glyphicon-phone-alt
            |  +91-11-43587126
            |         
            br
            |         
            span.glyphicon.glyphicon-envelope
            |  mail@sflc.in
          |       
          .col-lg-4
            h3  Resources 
            |           
            ul
              li  One 
              |             
              li  Two 
          |       
          .col-lg-4
            h3  Content Policy 
            |         
            p
              | This work by 
              a(href='/', property='cc:attributionName', rel='cc:attributionURL', xmlns:cc='http://creativecommons.org/ns#') SFLC.in
              |  is licensed under a 
              a(href='http://creativecommons.org/licenses/by-nc-sa/4.0/', rel='license') Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
              | .
              br
              a(href='http://creativecommons.org/licenses/by-nc-sa/4.0/', rel='license')
                img(class="img-responsive", alt='Creative Commons License', src='https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png', style='border-width:0')
