nav.navbar.navbar-default
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.offcanvas-toggle(type='button', data-toggle='offcanvas', data-target='#js-bootstrap-offcanvas')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.sflc-logo(href='/')
        img(src='img/sflc-tracker-logo.png', height='50px')
    // Collect the nav links, forms, and other content for toggling
    #js-bootstrap-offcanvas.navbar-offcanvas.navbar-offcanvas-right.navbar-offcanvas-touch
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/about') About
        li
          a(href='https://blog.internetshutdowns.in/', target='_blank') Blog 
        li
          a(href='/why-care') Why I should care
        li
          a(href='https://sflc.in/tags/internet-shutdown', target='_blank') Updates
        li
          a(href='/contribute') What can I do
        li
          a(href='/resources') Resources
