extends layout

block content
  .container
    .row
      h1 About
      p
        | Instances of Internet shutdowns in India, i.e. state imposed blanket bans on access to internet services, either mobile or fixed line, are increasing at a worrisome pace. Internet is a key enabler of many fundamental rights, including freedom of speech and expression. Along with being a medium for communication, it has also been instrumental in flourishing the economy, expanding education, emergency services and dispersal of e-governance initiatives. Family life is now dependent on the availability of digital communications throughout Indian society, as are all the aspects of human relations in business processes, within and between firms.
      p
        | As a part of this project, we track incidents of Internet shutdowns across India in at attempt to draw attention to the troubling trend of disconnecting access to Internet services, for reasons ranging from curbing unrest to preventing cheating in an examination. With this tracker, we aim to stand strong with the message that the information superhighway that is the Internet is essential for the holistic socio-economic and cultural development of the country. #KeepItOn.
    .row
      script#faqs-template(type="text/ractive")
        h1 Frequently Asked Questions
        //- Load and parse ./template.jade here.
        include ./includes/faq-template.jade
        // Bootstrap panels + jQuery Accordion
        #accordion.panel-group
          each item, idx in faqList
            +faq(idx, item.q, item.a)
      #faqs
      //- Ractive initialization script.
      script.
        var faqs = new Ractive({
          el: "#faqs",
          template: "#faqs-template",
          data: {}
        });
