extends layout

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2
        h1 What Can I do?
        p
          | You can support this website by contributing in a variety of ways, both direct and indirect. You can report an Internet shutdown that is not visible in our data, spread the message, donate to encourage our work or even report any bugs that you find on this website. Anything you can do is appreciated. No action is too small.

        h3 Report a Shutdown
        p
          |  Most of the data available on this website is obtained from news reports. We are aware that this means that our data can be incomplete, as any shutdown that is not reported in news, or that is reported only in regional news may slip by undetected by us. To increase the accuracy of the data on this website, to supplement news reports and to make corrections in the data, we rely on people like you to supply us with information about Internet shutdowns in your area, preferably with some link(s) to news reports of the shutdown.

        h3 Spread the Message
        .row
          .col-lg-1.col-md-1.col-sm-1.col-xs-4.text-center
            a(href="http://twitter.com/share?text=Did%20you%20know%20India%20has%20had%2062%20incidents%20of%20%23InternetShutdown%20since%202012%3F%20See%20if%20your%20state%20was%20affected.%20%23KeepItOn&url=http://internetshutdowns.in")
              img(src="https://abs.twimg.com/favicons/favicon.ico", height="50px")
          .col-lg-1.col-md-1.col-sm-1.col-xs-4.text-center
            a(href="http://www.facebook.com/sharer.php?u=http://internetshutdowns.in")
              img(src="https://static.xx.fbcdn.net/rsrc.php/v3/y1/r/Y3dI7TtNnYf.png", height="50px")
        p
          | The chances of this issue being resolved are only as high as the number of people that are talking about this issue. You can help us spread the message by posting on social media, and by talking to people about this website and the data on this website. If you are posting on social media, we request you to unite under the hashtag
          a(href="https://twitter.com/hashtag/KeepItOn?src=hash") #KeepItOn
          |  to collectively increase the visibility of this issue.

          h3 Improve this website
          p
            |  You can contribute to the user experience on this website in many ways.
            h4 Report bugs
            p
              |  If you face any issues in using this website or if you find any bugs in this website, please feel free to
              a(href='https://gitlab.com/sflcin/internetshutdowns/issues/') file a bug report at GitLab
              | . Please help us in keeping down duplicate bug reports by ensuring that the bug you are reporting has not been reported before.
            h4 Contribute code
            p
              |  Alternatively, you can help us in improving the experience on this website by contributing code directly to our
              a(href='https://gitlab.com/sflcin/internetshutdowns/') GitLab
              |  repository.
            h4 Become a translator for your language
            p
              |  Join us as a translator for your language by sending an email to mail@sflc.in with the subject line: “Internet Shutdowns translation in [language]

        h3 Donate
        p
          |  SFLC.in is a donor-supported organization. Your contributions keep us going in fighting for civil liberties for citizens in the digital world.
          ol
            li
              strong Donate By Cheque:
              |  Please draw your cheque in the name of 'Software Freedom Law Centre' and send it to the following address: SFLC.in, K-9, Birbal Road, Second Floor, Jangpura Extension, New Delhi 110014 (Tel: +91 11 43587126)
            li
              strong Donate by Bank Transfer:
              |  You can also send donations by transferring the amount directly to this bank account: A/C Name: SOFTWARE FREEDOM LAW CENTER; A/C Number: 910010016412278; Bank/Branch: AXIS Bank, Shakti Nagar Branch, Delhi; IFSC Code: UTIB0000054
            li
              strong Donate Online:
              |  You can make digital donations using Credit Cards, Debit Cards and Net Banking for any amount you choose to donate.
              br
              a(href='https://www.instamojo.com/@SFLCin') Click here to donate online.
