extends layout

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2
        h1 Downloads
        ul.testimonials-list
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Q7EbnAOORM4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          li
            a(href='https://sflc.in/sites/default/files/2020-01/SFLC.IN_Internet_Shutdowns_Knowledge_Bank_V1_070120.pdf', target='_blank')
              strong  Knowledge Bank on Internet shutdowns: 
            |  prepared by 
            a(href="https://sflc.in", target='_blank')  SFLC.IN, 
