extends layout

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2
        h1 In News
          h3 January 2020
          ul.resources-list
            li
              a(href='https://www.aa.com.tr/en/asia-pacific/india-top-court-declares-internet-a-fundamental-right/1699142#', target='_blank')
                strong Top Court declares internet a fundamental right 
              |  : Anadolu Agency

            li
              a(href='https://www.nytimes.com/2020/01/26/world/asia/kashmir-internet-shutdown-india.html', target='_blank')
                strong India restores some internet access in Kashmir 
              |  : New York Times   

            li
              a(href='https://dailytimes.com.pk/548748/internet-blockade-supreme-court-intervention-and-2g-pun-high-voltage-drama-of-kashmir/', target='_blank')
                strong Internet blockade, Supreme Court intervention 
              |  : Daily Times   

            li
              a(href='https://thewire.in/rights/digital-india-is-offline', target='_blank')
                strong Digital India is offline 
              |  : The Wire   

            li
              a(href='https://indianexpress.com/article/explained/suspension-of-the-internet-what-the-rules-say-what-the-sc-underlined-6220361/', target='_blank')
                strong Suspension of the Internet: What the Rules say 
              |  : Indian Express   

            li
              a(href='https://cpj.org/blog/2020/01/lawyer-mishi-choudhury-on-what-india-shutdowns-rul.php', target='_blank')
                strong Lawyer Mishi Choudhary on what India shutdowns ruling means for journalists 
              |  : CPJ   

            li
              a(href='https://www.top10vpn.com/cost-of-internet-shutdowns/', target='_blank')
                strong The Global Cost of Internet Shutdowns in 2019 
              |  : Top10vpn   

          h3 December 2019
          ul.resources-list
            li
              a(href='https://www.buzzfeednews.com/article/pranavdixit/to-prevent-protests-against-an-anti-muslim-law-indias', target='_blank')
                strong To Prevent Protests Against An Anti-Muslim Law, India’s Government Turned Off The Internet In Its Capital City 
              |  : BuzzFeed News   

            li
              a(href='https://timesofindia.indiatimes.com/city/delhi/delhi-internet-shutdown-did-not-come-via-right-channel-digital-right-activists/articleshow/72896669.cms', target='_blank')
                strong Delhi internet shutdown did not come via right channel: Digital Right Activists 
              |  : Times of India   

            li
              a(href='https://indianexpress.com/article/technology/tech-news-technology/anti-citizenship-act-protests-mobile-internet-shutdown-in-parts-of-delhi-confirm-airtel-and-vodafone-6174586/', target='_blank')
                strong Mobile internet shutdowns in Lucknow, Ghaziabad, Mangalore amid anti-CAA protests 
              |  : Indian Express   

            li
              a(href='https://www.thehindu.com/thread/politics-and-policy/are-internet-shutdowns-healthy-for-india/article30348873.ece', target='_blank')
                strong Are Internet shutdowns healthy for India? 
              |  : The Hindu   

            li
              a(href='https://www.nytimes.com/2019/12/17/world/asia/india-internet-modi-protests.html', target='_blank')
                strong India Adopts the Tactic of Authoritarians: Shutting Down the Internet 
              |  : New York Times   

            li
              a(target='_blank', href='https://mediaindia.eu/politics/shut-the-internet-up/')
                strong Shut the internet up! More than 350 internet shutdowns in India since 2014
              |  : Media India Group
            li
              a(target='_blank', href='https://www.theguardian.com/world/2020/jan/05/the-personal-and-economic-cost-of-kashmirs-internet-ban')
                strong Many lives have been lost’: five-month internet blackout plunges Kashmir into crisis
              |  : The Guardian
            li
              a(target='_blank', href='https://www.huffingtonpost.in/entry/delhi-internet-shutdown-citizenship-amendment-act-protest_in_5dfb3315e4b01834791b8155')
                strong Delhi Shutdown Joins A France-Sized Hole In India’s Internet
              |  : HuffingtonPost
            li
              a(target='_blank', href='https://www.poynter.org/reporting-editing/2019/the-scary-trend-of-internet-shutdowns/')
                strong The scary trend of internet shutdowns
              |  : Ponyter.org

          h3 August 2019
          ul.resources-list
            li
              a(target='_blank', href='https://www.nytimes.com/2019/08/14/technology/india-kashmir-internet.html')
                strong India Shut Down Kashmir’s Internet Access. Now, ‘We Cannot Do Anything.’
              |  : New York Times
            li
              a(target='_blank', href='https://inc42.com/buzz/india-shuts-down-internet-more-than-any-country-in-the-world-report/')
                strong India Shuts Down Internet More Than Any Country In The World: Report
