doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name='description', content='An interactive information portal about Internet shutdowns in India.')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@SFLCin')
    meta(name='twitter:title', content='Internet Shutdowns in India')
    meta(name='twitter:description', content='An interactive information portal about Internet shutdowns in India.')
    meta(name='twitter:image', content='http://internetshutdowns.in/img/twitter_thumbnail.png')
    meta(property='og:title', content='Internet Shutdowns in India')
    meta(property='og:url', content='http://internetshutdowns.in')
    meta(property='og:type', content='website')
    meta(property='og:description', content='An interactive information portal about Internet shutdowns in India.')
    meta(property='og:image', content='http://internetshutdowns.in/img/og-image.png')
    title Internet Shutdowns in India 
    link(rel="stylesheet", type="text/css", href="vendor/bootstrap/dist/css/bootstrap.css")
    link(rel='stylesheet', href='vendor/bootstrap-offcanvas/dist/css/bootstrap.offcanvas.css')
    link(rel="stylesheet", type="text/css", href="vendor/fontawesome/css/font-awesome.css")
    link(rel="stylesheet", type="text/css", href="css/style.css")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
    script(src="vendor/ractive/ractive.js")

  body
    include includes/header
    block content
    include includes/footer

    script(src="vendor/jquery/dist/jquery.js")
    script(src="vendor/bootstrap/dist/js/bootstrap.js")
    script(src='vendor/bootstrap-offcanvas/dist/js/bootstrap.offcanvas.js')
    script(src="vendor/lodash/dist/lodash.min.js")
    script(src="vendor/leaflet/dist/leaflet.js")
    script(src="vendor/chroma-js/chroma.min.js")
    script(src="vendor/moment/min/moment.min.js")
    //- script(src="/js/app.js")
