extends layout

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2
        h1 Lost Voices

        .container
          h3 Voices from Kashmir
          .row
            .col-sm-4
              .panel.panel-primary
                .panel-heading Nasir Khuemani | Student Leader
                .panel-body.embed-responsive.embed-responsive-16by9 <iframe src="https://www.youtube-nocookie.com/embed/nmx2zY3XCf0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                .panel-footer Nasir Khuemani, a student leader talks about the impact on education by Internet shutdowns.
            .col-sm-4
              .panel.panel-primary
                .panel-heading A local businessman
                .panel-body.embed-responsive.embed-responsive-16by9 <iframe src="https://www.youtube-nocookie.com/embed/KRgCJ3HxIh8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                .panel-footer A local businessman talks about the impact that the Kashmir shutdown has had on lives of citizens.
            .col-sm-4
              .panel.panel-primary
                .panel-heading A student
                .panel-body.embed-responsive.embed-responsive-16by9 <iframe src="https://www.youtube-nocookie.com/embed/jkFlGivGVrM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                .panel-footer A young student talks about how Internet shutdown has affected her studies and exam preparations.
            .col-sm-4
              .panel.panel-primary
                .panel-heading  A local businessman
                .panel-body.embed-responsive.embed-responsive-16by9 <iframe src="https://www.youtube-nocookie.com/embed/PS4vCPmFits" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                .panel-footer A businessman expresses the difficulty he has faced in operating a business because of an internet shutdown.
            .col-sm-4
              .panel.panel-primary
                .panel-heading A NEET Aspirant
                .panel-body.embed-responsive.embed-responsive-16by9 <iframe src="https://www.youtube-nocookie.com/embed/GRM0DWBddg0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                .panel-footer A young student talks about how the Internet shutdown in the erstwhile state had a dire effect on her studies.
            .col-sm-4
              .panel.panel-primary
                .panel-heading Experiences 
                .panel-body.embed-responsive.embed-responsive-16by9 <iframe src="https://www.youtube-nocookie.com/embed/SIpiVHGCLpo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                .panel-footer A young professional from Kashmir talks about the effectiveness of 2G services restored on whitelisted websites in the valley.

