extends layout

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2
        h1 Policy Tracker

        div#timeline.timeline-container
          button.timeline-toggle + expand all
          br.clear

          div.timeline-wrapper
            h2.timeline-time
              span 20 November 2018
            dl.timeline-series
              dt#Policy9.timeline-event
                a Case: Dhirendra Singh Rajpurohit V. State of Rajasthan CW/10304/ 2018

              dd.timeline-event-content#Policy9EX
                p
                  | Public Interest Litigation was filed before the Jodhpur High Court challenging State Government of Rajasthan's orders of imposing internet shutdowns. These shutdowns were ordered to prevent cheating in examinations on more than two occasions in 2018.
                p
                  | Home Department of Rajasthan submitted an affidavit stating that the suspension of Internet Services for conducting examinations does not fall in the ambit of public safety or public emergency as provided under the Temporary Suspension of Telecom Services Rules, 2017. The division bench comprising Justice Sangeeta Lodha and Justice Dinesh Mehta disposed off the matter, on Wednesday, 28th November 2018.
                
                p
                  b Comments:
                p
                  | View our post on the public interest litigation here:

                p
                  | https://sflc.in/home-department-state-rajasthan-no-more-internet-shutdowns-prevention-cheating-examinations
                br.clear

          div.timeline-wrapper
            h2.timeline-time
              span 20 November 2018
            dl.timeline-series
              dt#Policy09.timeline-event
                a Case: Dhirendra Singh Rajpurohit V. State of Rajasthan CW/10304/ 2018

              dd.timeline-event-content#Policy09EX
                p
                  | Public Interest Litigation was filed before the Jodhpur High Court challenging State Government of Rajasthan's orders of imposing internet shutdowns. These shutdowns were ordered to prevent cheating in examinations on more than two occasions in 2018.
                p
                  | Home Department of Rajasthan submitted an affidavit stating that the suspension of Internet Services for conducting examinations does not fall in the ambit of public safety or public emergency as provided under the Temporary Suspension of Telecom Services Rules, 2017. The division bench comprising Justice Sangeeta Lodha and Justice Dinesh Mehta disposed off the matter, on Wednesday, 28th November 2018.
                
                p
                  b Comments:
                p
                  | View our post on the public interest litigation here:

                p
                  | https://sflc.in/home-department-state-rajasthan-no-more-internet-shutdowns-prevention-cheating-examinations
                br.clear

          div.timeline-wrapper
            h2.timeline-time
              span 28 September 2018
            dl.timeline-series
              dt#Policy08.timeline-event
                a Letter from Secretary, Department of Telecommunications on rise in frequency of internet shutdowns. D.O. No.: 800-37/2016-AS.II/1

              dd.timeline-event-content#Policy08EX
                p
                  | The letter requested the State governments to ensure that the provisions of Temporary Suspension (Public Emergency or Public Safety) Rules, 2017 are strictly followed.
                p
                  b Comments:
                p
                  | Internet shutdowns continue to be implemented for trivial reasons even though the letter specifically pointed out that frequent suspension of Internet services were being ordered by State Governments in circumstances where public emergency or public safety were not impacted.

                br.clear

          div.timeline-wrapper
            h2.timeline-time
              span 31 July 2018
            dl.timeline-series
              dt#Policy07.timeline-event
                a Member of Rajya Sabha, Husain Dalwai moved a statutory motion in Rajya Sabha (upper house of Parliament) for annulment of the Temporary Suspension of Telecom Services (Public Emergency or Public Safety) Rules, 2017

              dd.timeline-event-content#Policy07EX
                p
                  | The motion was introduced to highlight serious drawbacks of the Rules and remedy them.                
                p
                  b Comments:
                p
                  | The statutory motion was not taken up for business as the Rajya Sabha session ended before the discussion on the matter could take place.

                p
                  | Link: https://sflc.in/parliament-s-last-opportunity-modifyannul-telecom-suspension-rules-2017
                br.clear

          div.timeline-wrapper
            h2.timeline-time
              span 27 April 2018
            dl.timeline-series
              dt#Policy06.timeline-event
                a Right to Information (RTI) application filed by SFLC.in

              dd.timeline-event-content#Policy06EX
                p
                  | The RTI Application included the following question: “What is the exact number of Internet Shutdowns that were ordered in Rajasthan during 07.08.2017 to 01.05.2018?”.
                p
                  | We received information from district level departments of Rajasthan in response to the RTI application.
                p
                  | Replies to similar RTI queries in MP and UP  were dismissed and returned.               
                p
                  b Comments:
                p
                  | On the basis of RTI responses, we found that there were at least 26 unreported instances of Internet shutdowns in Rajasthan alone during the eight-odd months in question. A detailed blogpost about the responses from Rajasthan to our RTI applications can be viewed here, https://sflc.in/rti-reply-rajasthan-home-department-reveals-21-unreported-internet-shutdowns.

                p
                  | Also see https://sflc.in/rti-applications-mp-about-number-internet-shutdowns-dismissed-returned  
                br.clear

          div.timeline-wrapper
            h2.timeline-time
              span 8 August 2017
            dl.timeline-series
              dt#Policy05.timeline-event
                a Temporary Suspension of Telecom Services (Public Emergency or Public Safety) Rules, 2017

              dd.timeline-event-content#Policy05EX
                p
                  | Rules lay down the procedure to suspend telecom services in case of public emergency or public safety.
                p
                  | Rules also specify the competent authority empowered to issue suspension orders, require that reasons for suspension be in writing and set up a Review Committee for ensuring that shutdowns are imposed by the due process of law.

                p Comments:
                p
                  | Despite these Rules, internet shutdowns continue to be imposed under CrPC.
                p
                  | Review Committee is not set up in most cases of shutdowns.
                p
                  | The Rules suffer from many drawbacks. They were framed without public consultation. There is no official channel of communication to inform the public about imposition of shutdowns. 
                p
                  | View our analysis of the Rules here: https://sflc.in/parliament-s-last-opportunity-modifyannul-telecom-suspension-rules-2017
                p 
                  | For more information on the Rules visit https://sflc.in/new-rules-temporary-suspension-telecom-services-case-public-emergency-or-public-safety
                p
                  | Also see: https://sflc.in/second-appeal-rti-application-revealed-procedural-lapses-only-11-review-committee-meetings-despite
                br.clear

          div.timeline-wrapper
            h2.timeline-time
              span 1 July, 2016
            dl.timeline-series
              dt#Policy04.timeline-event
                a United Nations passed a  resolution condemning Internet shutdowns.

              dd.timeline-event-content#Policy04EX
                p
                  | The  resolution condemned network disruptions and measures resorted by states to curb online access and/or dissemination of information.
                p
                  | It affirmed that rights in the online sphere, especially the right to freedom of expression requires the same standard of protection as in the offline world. It also called upon the Member States to develop transparent internet policies, and work towards bridging the digital divide, along with the digital gender divide.
                
                p Comments:
                p Link:
                p
                  | https://sflc.in/united-nations-passes-resolution-condemning-internet-shutdowns
                br.clear

          div.timeline-wrapper
            h2.timeline-time
              span 15 September 2015
            dl.timeline-series
              dt#Policy03.timeline-event
                a Case: Gaurav Sureshbhai Vyas v. State of Gujarat [ W.P. (PIL) No. 191 of 2015]

              dd.timeline-event-content#Policy03EX
                p
                  | In this case the practice of invoking Section 144 to impose Internet shutdowns was challenged.  Petitioner argued that instead of blanket ban under Sec 144 of CrPC,  Section 69A of Information Technology Act, 2000 should be used to block specific social media websites which contain inflammatory messages to incite violence.
                
                p Comments:
                p
                  | The court held that the state government is a competent authority under this provision and has the rightful authority in times of emergency, to decide to block entire mobile Internet services, failing which, the situation could worsen. The State government has the discretion to exercise this power with prudence, public duty and the sufficiency of action in their view.

                p
                  | Special Leave Petition (SLP) challenging the order of the Gujarat High Court in the case of Gaurav Sureshbhai Vyas v. State of Gujarat was dismissed by the Supreme Court in February 2016. 
                p
                  | Link: https://sflc.in/legality-internet-shutdowns-under-section-144-crpc
                br.clear

          div.timeline-wrapper
            h2.timeline-time
              span 25 January 1974
            dl.timeline-series
              dt#Policy02.timeline-event
                a Sec 144 of Criminal Procedure Code, 1973


              dd.timeline-event-content#Policy02EX
                p
                  | This Section gives State governments the power to issue orders in urgent cases of nuisance or apprehended danger. It is a collection of procedural laws that govern how substantive crimes are to be enforced. 
                
                p Comments:
                p
                  | CrPC was designed to give emergency powers to State governments and has traditionally been used to issue curfews and dismiss unlawful assemblies to curb civil unrest. Although it is not designed for Internet shutdowns, it is used by authorities to impose virtual curfews as it is less cumbersome as compared to other existing legislations. 
                p Link:
                p https://sflc.in/legality-internet-shutdowns-under-section-144-crpc\n\nhttps://sflc.in/living-digital-darkness-handbook-internet-shutdowns-india
                p https://sflc.in/living-digital-darkness-handbook-internet-shutdowns-india
                br.clear

          div.timeline-wrapper
            h2.timeline-time
              span 22 July 1885
            dl.timeline-series
              dt#Policy01.timeline-event
                a Indian Telegraph Act, 1885
              dd.timeline-event-content#Policy01EX
                p
                  | This colonial era law has been invoked multiple times to order temporary Internet service disruptions.
                p 
                  | Section 3(1AA) has a broad and future-proof definition which brings virtually any communication system, including the Internet, within the Acts purview.
                p 
                  | Section 5(2) is broadly worded and terms of imposition are not defined. These include words public emergency or in interest of public safety.

                p 
                  | Also undefined are all five additional grounds for imposition, such as âsovereignty and integrity of India, security of the State and others. 

                p Comments:
                p
                  | Undefined and broadly worded terms remain open to broad interpretation by the Government. There is no objective standard to determine whether a given situation or threatens public safety. In the past, Internet shutdowns have been imposed for trivial reasons such as to prevent cheating in recruitment examinations in Rajasthan.
                p Link:
                p https://sflc.in/meet-latest-threat-public-safety-cheating-during-examinations
                p https://sflc.in/living-digital-darkness-handbook-internet-shutdowns-india

                br.clear