extends layout

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2
        h1 Privacy Policy

        p
          | The Privacy Policy of Software Freedom Law Center, India (SFLC.in) is aimed at protecting the privacy of users visiting our websites. 
        p
          | Websites here refer to the parent website;  
          a(href="https://sflc.in") SFLC.IN, 
          a(href="https://internetshutdowns.in") Internet Shutdowns, 
          a(href="https://security.sflc.in") https://security.sflc.in,
          as well as 
          a(href="https://privacy.sflc.in") https://privacy.sflc.in, 

        p 
          | ‘SFLC.in’; ‘US’ and  ‘WE’ as mentioned herein  referred to the organisation SFLC.in, a society registered under the Societies Registration Act, 1860 and includes its Board of Directors, Management, staff, counsels, interns, volunteers, consultants and other agents. 
        p 
          | This Policy covers the collection, storage, security, processing and disclosure of personal data.  

        h3 Information Collected
        p
          | Information is collected by us to analyze the usage of the website by the users visiting it and consequently enhance user experience based on the information collected.  
        p 
          | The IP address of the user visiting our websites is anonymized to ensure that no individual can be identified.

        p
          | The following information is collected - 
          ul
            li The Region
            li User browser and Browser Engine
            li Operating system and Screen resolution
            li The data and time when the websites were accessed.
        p
          | The above information is collected to -
          ul
            li Optimize user experience by ensuring compatibility of the browsers as well as the Operating systems with our website.
            li To understand how our websites and services are being used.
          p
            | When you communicate with us through our site, we may collect your name, email address, postal address, and other personal information.

        h3 Third Party Disclosure
        p
          | Information collected by us is not revealed to any third party except as compelled by Law.  In the case of signature campaigns conducted by the organization, we may share name and personal information of the persons who have signed on to the campaign to the recipients of the letters.

        h3 Third Party Applications
        p 
          | The following third party applications are used by us to optimize user experience - Social media websites like Facebook, Twitter, Reddit, Mastodon and YouTube. We also use services like 
          a(href='https://www.mapbox.com/legal/privacy') MapBox 
          and Leaflet.  We may use EventBrite for managing our events and Kutt.it, a URL shortening open source service. We also use the services of Matamo, you can read their privacy policy 
          a(href='https://matomo.org/privacy-policy/') here. 
          These third party websites are governed by their own privacy policies and users should refer to them. No user information is shared by us to these third party apps.  

        h3 Storage
        p
          | The information collected is stored on our own servers as well as on third party cloud servers that are used by us. We also store data in encrypted hard drives.  
        p 
          | The data is directly accessible by the Technology team of the organization. A written request can be made by any other member of the organization for access to data which can be accepted and denied by the technology team. 

        h3 Security
        p 
          | All the data that is collected by us is encrypted and stored. Utmost caution is used while handling any third party data. The data is stored for archival purposes.

        h3 Links to Other Websites
        p
          | Our website may contain links to other websites that are not operated by Us. If You click on a third party link, You will be directed to that third party's site. We strongly advise You to review the Privacy Policy of every site You visit. We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.

        h3 Changes to this Privacy Policy
        p
          | We reserve the right to modify this policy at any time.

        h3 Contact Us
        p
          | If you have any questions about this Privacy Policy, You can contact us:
          ul
            li By <b>Email</b>: mail@sflc.in
            li By <b>Phone</b>: +91-11-43587126
            li By <b>Post</b>: <i>Software Freedom Law Center, India</i>, 2nd Floor, K-9, Birbal Road, Block K, Jangpura Extension, New Delhi-110014, India

