extends layout

block content
  .container
    h1 Privacy Policy
    p
      | This privacy policy sets out how "SFLC.in" uses and protects any information that you provide "SFLC.in" when you use this website.
    p
      | "SFLC.in" is committed to ensuring that your privacy is protected. Should we ask you to provide certain information when using this website, by which you can be identified, then you can be assured that it will only be used in accordance with this privacy statement.
    h2 Information Collection and Use:
    h3 Personal Information
    p
      | We do not collect personal information about visitors to our website unless you choose to provide that information to us.
    p
      | We will use such information only for the purpose(s) stated at the time it is collected, and never for secondary or unrelated purposes unless otherwise requested or explicitly agreed to by the website user. In cases when such information is requested to provide a service or respond to an inquiry, visitors need to provide only the minimal information necessary.
    p This information includes the following:
    ul
      li
        p
          | We collect your email address, when you choose to subscribe to our site using our subscribe button.
      li
        p
          | Giving your name along with email address is optional and but will be saved if you choose to provide it to us.
    p Typically, we collect this personal information for the following:
    ul
      li
        p
          | To contact you about the information on our site about which you have expressed interest, upon you choosing to subscribe to us.
      li
        p To allow us to respond to inquiries and requests;
    h3 Third Party Cookies
    p
      | We ourselves do not use any kind of cookies but some other third party services such as the following may employ the use of cookies:
    ul
      li
        p
          | Social Plugins - In our site, we use "social plugins" for Facebook and Twitter. The most common use of these social plugins is to share content on social networks. They also transmit cookies to and from our site to the third party service.
      li
        p
          | Mapbox – Our site uses Mapbox (an open source mapping platform for custom designed maps) to render the map on which the internet shutdowns are shown and they also transmit cookies.
    p
      | You can control and/or delete cookies as you wish. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed. If you do this, however, portions of Mapbox may not work as intended.
    h2 Third-Party Websites
    p
      | Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over the other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.
    h2 Security
    p
      | We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.
    p
      | In the event that any personal information under our control is compromised as a result of a breach of security, we will take reasonable steps to investigate the situation, and where appropriate, notify those individuals whose information may have been compromised and take other steps in accordance with applicable laws.
    h2 Your Consent
    p By using our site, you consent to this website privacy policy.
    h2 Changes in this Privacy Policy
    p
      | We reserve the right to modify this privacy policy at any time. It is our policy to post any changes we make to our privacy policy on this page. The date the privacy policy was last revised is identified at the bottom of the page. You are responsible for periodically visiting our website and this privacy policy to check for any changes. Your continued use of this website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.
    hr
    p
      | If you have any questions about this privacy policy or other issues with our website, please contact
    p
      | SFLC.in
      br
      | K-9, 2
      sup nd
      |  Floor, Birbal Road, Jangpura Extension, New Delhi – 110014, India.
      br
      | Email: mail@sflc.in
      br
      | Phone: +91-11-43587126
      div(class="text-right") 
        small This privacy policy was last updated February 4, 2017.
