extends layout

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2
        h1 Privacy Policy

        p
          | The Privacy Policy of Software Freedom Law Center, India (SFLC.in) is aimed at protecting the privacy of users visiting the websites.
        p
          | Websites here refer to the parent website;  
          a(href="https://sflc.in") SFLC.IN, 
          a(href="https://internetshutdowns.in") https://internetshutdowns.in, 
          a(href="https://security.sflc.in") https://security.sflc.in, as well as  
          a(href="https://privacy.sflc.in") https://privacy.sflc.in, 

        p 
          | ‘SFLC.in’ and ‘WE’ is referred to SFLC.in’s Board of Directors, Management, staff, counsels, interns, volunteers, and consultants. 
        p 
          | This Policy covers the collection, storage, security, processing and disclosure of personal data. 

        h3 Information Collected
        p
          | The following information is collected by us to analyze the usage of the website by the users visiting it and consequently enhance user experience based on the information collected. 
        p 
          | The IP address of the user visiting our websites is anonymized to ensure that no individual can be identified. 
          ul
            li The Region
            li User browser and Browser Engine
            li Operating system and Screen resolution
            li The data and time when the websites were accessed.
        p
          | The above information is collected to
          ul
            li Optimize user experience by ensuring compatibility of the browsers as well as the Operating systems with our website.
            li To understand how our websites and services are being used. 

        h3 Third Party Disclosure
        p
          | Information collected by us is not revealed to any third party except as compelled by Law. 
        h4 Third Party apps
        p 
          | The following third party apps are used by us to optimize user experience - Social media websites like Facebook, Twitter, Reddit, Mastodon. We use EventBite for managing our events and Kutt.it, a URL shortening open source service. These third party websites are governed by their own privacy policies. No user information is shared by us to these third party apps. 

        h4 Storage
        p
          | The Data collected is stored on our own servers as well as on third party cloud servers that are used by us. We also store data in encrypted hard discs. 
        p 
          | The data is directly accessible by the Technology team of the organization. A written request can be made by any other member of the organization for access to data which can be accepted and denied by the technology team. 

        h4 Security
        p 
          | All the data that is collected by us is encrypted and stored. Utmost caution is used while handling any third party data. The data is stored for archival purposes. 

        h4 Review of Data
        p 
          | We will be reasonable allow any person whose data has been collected, stored and processed by us to review it, rectify it and edit it if it is inaccurate and not up to date. 


