extends layout

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2
        h1 Resources
        ul.resources-list
          li
            a(href='https://sflc.in/sites/default/files/2020-01/SFLC.IN_Internet_Shutdowns_Knowledge_Bank_V1_070120.pdf', target='_blank')
              strong SFLC.In's internetshutdowns.in Knowledge Bank
            |  A report by
            a(href="https://sflc.in", target='_blank') SFLC.IN
            | containing a list of resources in form of a knowledge bank which will help in understanding Internet shutdowns better.
          li
            a(href='https://sflc.in/sites/default/files/reports/Living%20in%20Digital%20Darkness%20-%20A%20Handbook%20on%20Internet%20Shutdowns%20in%20India%2c%20May%202018%20-%20by%20SFLCin.pdf', target='_blank')
              strong Living in Digital Darkness - A Handbook on Internet Shutdowns in India, May 2018:
            |  A report by
            a(href="https://sflc.in", target='_blank')  SFLC.IN
            |  on the state of Internet shutdowns in India, analyzing its emergence as a public policy issue, governing laws, recorded instances, and impact among others.
          li
            a(href='https://sflc.in/sites/default/files/internetshutdowns/InternetShutDowns_Data_05-03-18.pdf', target='_blank')
              strong Internet Shutdown Tracker, India:
            |  Consolidated listing of all shutdowns in India recorded by
            a(href="https://sflc.in", target='_blank')  SFLC.IN
            |  from 2012 till date for multiple reasons. This compilation(pdf) provides a list of these shutdowns alongwith the reasons assigned to the same.
          li
            a(href='https://sflc.in/rti-responses-provide-copies-of-internet-shutdown-orders/', target='_blank')
              strong Internet Shutdown Orders - RTI responses:
            |  Copies of orders imposing and lifting Internet shutdowns in the State of Haryana in February 2016 - obtained in response to requests filed by SFLC.IN under the Right to Information Act, 2005.
          li
            strong
              a(href='https://sflc.in/united-nations-passes-a-resolution-condemning-internet-shutdowns/', target='_blank') United Nations passes a resolution condemning Internet Shutdowns:
            |  The United Nations Human Rights Council passed a resolution on 1st July, 2016, condemning the network disruptions and state measures curbing the dissemination of information, while at the same time recognizing the need for the same standards of protection to the rights, especially right to freedom of expression, in the online medium as that in the offline medium. This post looks into the importance of these actions.
          li
            a(href='https://sflc.in/internet-shutdown-trends-in-india/', target='_blank')
              strong Internet Shutdown Trends in India:
            |  Based on the data maintained by SFLC.IN, this post analyses the shutdown trends in India with respect to the mode of restriction, duration of shutdown and nature of the shutdown.
          li
            a(href='https://sflc.in/new-rules-temporary-suspension-telecom-services-case-public-emergency-or-public-safety', target='_blank')
              strong New Rules on Temporary Suspension of Telecom Services in case of Public Emergency or Public Safety:
            |  The Ministry of Communications, on August 7th, 2017, notified new rules for the suspension of telecom services in case of public emergency or public safety, and consequently, the suspension of Internet services in India. These rules known as the “Temporary Suspension of Telecom Services (Public Emergency or Public Safety) Rules, 2017” were issued under section 7 of the Indian Telegraph Act, 1885.
          li
            a(href='https://sflc.in/legality-of-internet-shutdowns-under-section-144-crpc/', target='_blank')
              strong Legality of Internet shutdowns under Section 144 CrPC:
            |  Majority of Internet shutdowns in India are enforced by the state governments under Section 144 of Code of Criminal Procedure, 1973. This article delves into the legality of section 144, its relationship with freedom of speech and expression (Article 19(1)(a) of the Constitution of India) and finally, looks at the stance of the Indian courts while addressing the issue of internet shutdowns in India.
          li
            a(href='https://sflc.in/letter-to-dr-ajay-kumar-raising-concern-about-frequent-internet-shutdowns-in-india/', target='_blank')
              strong
                | Letter to Dr. Ajay Kumar raising concern about frequent Internet shutdowns in India:
            |  SFLC.IN wrote to the Additional Secretary, Ministry of Electronics and Information Technology requesting him to take requisite action against the increase in instances of Internet shutdowns in India.
          li
            a(href='https://sflc.in/joint-letters-to-chief-ministers-raising-concerns-over-internet-shutdowns/', target='_blank')
              strong
                | Joint letters to Chief Ministers of 12 states, raising concerns over Internet shutdowns:
            |   SFLC.IN, along with a group of citizens and organisations, sent letters to the Chief Ministers of all states that have witnessed Internet shutdowns in the past, requesting them to take immediate action to curb this unjustifiable practice.
          li
            a(href='https://www.accessnow.org/keepiton/', target='_blank')
              strong #KeepItOn:
            |  #KeepItOn is a campaign launched by Access Now against internet shutdowns worldwide. Several organisations across the world, including SFLC.IN, have joined this campaign in their mission to fight and push back internet shutdowns.
          li
            a(href='https://www.brookings.edu/research/internet-shutdowns-cost-countries-2-4-billion-last-year/', target='_blank')
              strong Internet shutdowns cost countries $2.4 billion last year:
            |  Internet shutdowns not only disrupt access to information online but has wider implications. This report, published by the Brooking Institution looks into the huge economic losses suffered by the countries as a result of internet shutdowns and its detrimental impact on the economic activities and growth of the nations.
          li
            a(href='https://www.freedomonlinecoalition.com/wp-content/uploads/2017/03/FOC-Joint-Statement-on-State-Sponsored-Network-Disruptions.pdf', target='_blank')
              strong Joint Statement and Accompanying Good Practices for Government on State-Sponsored Network Disruptions by Freedom Online Coalition:
            |  FOC issued a joint statement expressing deep concern over the growing trend of intentional state-sponsored disruptions of access to or dissemination of information online. It was accompanied by a document outlining good practices for Governments, encouraging them to refrain from network disruptions which stifle exercise of the freedoms of expression, association, and peaceful assembly online.
