extends layout

block content
  .container
    p
      | Digital India is now a reality. Demonetisation has reminded us of the State's power over essential facilities in the economy and society, while the push towards "universal payments" and cashless India demonstrates all the more that the availability of the mobile Internet is now absolutely necessary for the flow of the economy's lifeblood.
    p
      | An Internet shutdown is more than just a disconnection from Whatsapp, Facebook or Twitter; it means limiting opportunities for artists who showcase their talent through YouTube or SoundCloud, entrepreneurs who have leveraged the web that lets them amplify an idea without burning a hole in their pocket, or restricting avenues for learning that are provided by platforms like Coursera or edX. During an Internet shutdown, students are unable to appear for various examinations; mitigation agencies, journalists and families are unable to establish contact in crisis hit zones, and dispersal of benefits through various e-governance schemes is hindered.
    p
      | A report by the Brookings Institute, which aimed to quantify the losses suffered by various countries due to such internet shutdowns, adjudged India to have topped the list by incurring losses to the tune of US $968 million in the year 2016 itself. With businesses adapting to the online business model, disruption of Internet services for even 24 hours brings their businesses to a halt due to the breakdown of communication channels with their potential customers, payment gateway operators, delivery personnel and other such intermediary parties involved.
    p
      | In many countries across the world, Intenet shutdowns have been used as a tool to constrict the functioning of the democratic process by restricting internet access at strategic times, like during an election as was the case in Ghana, or during a public mobilization as was witnessed in Egypt. The United Nations Human Rights Council passed a 
      a(href="http://sflc.in/wp-content/uploads/2016/07/A_HRC_32_L.20_English-OR-30-June.pdf") resolution
      |  on 1st July, 2016, condemning network disruptions and measures resorted by states to curb online access and/or dissemination of information. This resolution affirmed that rights in the online sphere, especially the right to freedom of expression requires the same standard of protection as in the offline world.
    p
      | So, if our cause resonates with you, and if you realize that Internet should not be switched off under any circumstance, take action and join our fight to #KeepItOn.
