extends layout

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2
        h1 Why I Should Care

        p(class="h4")
          strong
            | Digital India is now a reality.
        p
          | Demonetisation has reminded us of the State's power over essential facilities in the economy and society, while the push towards "universal payments" and cashless India demonstrates all the more that the availability of the mobile Internet is now absolutely necessary for the flow of the economy's lifeblood.
        p
          | An Internet shutdown is more than just a disconnection from Whatsapp, Facebook or Twitter; it means limiting opportunities for artists who showcase their talent through YouTube or SoundCloud, entrepreneurs who have leveraged the web that lets them amplify an idea without burning a hole in their pocket, or restricting avenues for learning that are provided by platforms like Coursera or edX. During an Internet shutdown, students are unable to appear for various examinations; mitigation agencies, journalists and families are unable to establish contact in crisis hit zones, and dispersal of benefits through various e-governance schemes is hindered.
        h2
          | Impact on Business & Industry
        p
          | A
          a(href="https://www.brookings.edu/wp-content/uploads/2016/10/intenet-shutdowns-v-3.pdf" target="_blank")  report by the Brookings Institute
          , which aimed to quantify the losses suffered by various countries due to such Internet shutdowns, adjudged India to have topped the list by incurring losses to the tune of US $968 million in the year 2016 itself. With businesses adapting to the online business model, disruption of Internet services for even 24 hours brings their businesses to a halt due to the breakdown of communication channels with their potential customers, payment gateway operators, delivery personnel and other such intermediary parties involved.
        p
          | Another
          a(href="http://icrier.org/pdf/Anatomy_of_an_Internet_Blackout_ppt.pdf" target="_blank")  report by the Indian Council for Research on International Economic Relations
          , which quantitatively assessed the economic impact of Internet Shutdowns across India, projects an economic loss of approximately US $3.04 billion due to Shutdowns in the country during the period of 2012-17.
        p
          | Dipak Birolia, cotton bales trader in Adilabad town in state of Telangana expressed his concerns about how the long term Internet Shutdown affected his export business.
        blockquote
          p
            | We faced a lot of problems when there was no Internet in our region for more than a month. We have an export business that requires the filing of various bills etc. Since there was no Internet, we couldn’t generate E-way bills for transportation of goods. We used to go 40 km every day to Maharashtra in order to access the Internet and complete our work. This was only once, but after that, we haven’t faced any problem.
          p
            cite - Dipak Birolia
            , cotton bales trader in Adilabad town.

        h2
          | Impact on Human Rights
        p
          | In many countries across the world, Internet shutdowns have been used as a tool to constrict the functioning of the democratic process by restricting internet access at strategic times, like during an election as was the case in Ghana, or during a public mobilization as was witnessed in Egypt. The United Nations Human Rights Council passed a
          a(href="http://sflc.in/wp-content/uploads/2016/07/A_HRC_32_L.20_English-OR-30-June.pdf"  target="_blank")  resolution
          |  on 1st July, 2016, condemning network disruptions and measures resorted by states to curb online access and/or dissemination of information. This resolution affirmed that rights in the online sphere, especially the right to freedom of expression requires the same standard of protection as in the offline world.
        p
          | A homemaker, Anuradha Devi also gave a detailed account on how Internet disruptions have affected her daily life. While there was a 100 day Internet blackout in Darjeeling, she realized the importance of the Internet, she felt isolated from the community and felt a forceful disconnect from the rest of the world.
        blockquote
          p
            | Earlier, I was using the Internet for the sole purpose of being active on social networking. However, the Internet Shutdown in Darjeeling made me realize the actual importance of the Internet and pointed my attention towards the fact that how important it has become for us to get information about the world and be connected with each other. Not only we were cut-off from the outside world but there was no way we could reach them and tell our condition.
          p
            cite - Anuradha Devi
            , a homemaker in Darjeeling.

        h2
          | Psychological impact
        p
          | When Internet services suddenly become unavailable at a time when so many aspects of our lives are dependent on it, the impact can be felt not just economically but also psychologically. Saadia Ishfaq, a Community Manager, Srinagar, Jammu & Kashmir told us that she felt like as if she was being strangulated.
        blockquote
          p
            | Life came to a standstill. Snapping of Internet services was the biggest blow. There was no communication at all. One couldn’t reach out to anybody.
          p
            cite - Saadia Ishfaq
            , a Community Manager, Srinagar, Jammu & Kashmir

        h2
          | Impact on health industry
        p
          | Internet is an indispensable utility service for health care industry. Most of patient information repositories, documentations and records are maintained on online servers. At the time of an Internet shutdown, it becomes impossible to work on these servers. In addition, doctors often consult their peers in complicated cases for advice, and with the advent of the Internet and messaging services like WhatsApp, communications have become easier through images and videos.
        blockquote
          p
            | Most hospitals host their databases on servers online. Also, various life saving drugs and surgical instruments are shipped to us from across the world. Ordering, making payments and subsequent tracking of shipment—all happen online. With the Internet shutdown, we needed to improvise with a contingency plan since we didn’t have access to detailed patients’ information.
          p
            cite - Dr. Regina Rajkumari
            , Surgeon, a native of Manipur

        h2
          | Impact on Education
        p
          | An Internet shutdown is more than just a disconnection from Whatsapp, Facebook or Twitter; it means limiting access to knowledge and learning opportunities for students. It also leads to restriction from avenues for learning that are provided by platforms like Coursera or edX.
        p
          | Geeta Devi, a class XIIth student from Darjeeling spoke to us about the difficulties she and peers faced in the application process for their college admissions during a sixty four day Internet Shutdown in Darjeeling. It was a crucial time for all the newly school graduates to apply for their higher studies, but due to lack of proper Internet services they failed to receive everyday updates on admissions. As a result, Geeta missed the deadline and couldn’t apply for the course she desired to pursue.
        blockquote
          p
            | The 64 days long Internet shutdown in Darjeeling started in the month of July, that was the time when admissions in most of the colleges and universities begin. As I passed my class 12 exams, I was thinking of pursuing law but could not even apply for the course as there were no Internet services. Even the mobile networks kept on fluctuating which made it difficult to get any kind of updates on admissions and otherwise. I am not the only one who is suffering, all the students in Darjeeling are facing similar issues.
          p
            cite - Geeta Devi
            , a class XIIth student from Darjeeling
        br
        p
          | So, if our cause resonates with you, and if you realize that Internet should not be switched off under any circumstance, take action and join our fight to
          strong(style="color:#ff4812")  #LetTheNetWork #KeepItOn.
