/*
* CSS overrides to bootstrap styles
*/

body {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
}

p {
  margin: 1em 0em;
}

/* Navbar styles */

.navbar {
  background-color: #ffffff;
  color: #000000;
  max-height: 8vh;
  border: 0px solid transparent;
  border-radius: 0px;
  box-shadow: #cccccc 0px 1px 10px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand.sflc-logo, .navbar-brand.sflc-logo:hover, .navbar-brand.sflc-logo:focus {
  /*background-color: #1586C9;*/
}

.navbar-brand.logo, .navbar-brand.logo:hover, .navbar-brand.logo:focus {
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  background-color: none;
}

.navbar-default .navbar-nav > li > a {
  color: #ff4812;
  text-transform: uppercase;
  font-size: 95%; /* Hack for fixing navbar on tablet screens */
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ff4812;
  background-color: #222222;
}


section, .navbar {
  margin-bottom: 0px;
}

#intro {
  height: 2vh;
}

#map {
  height: 80vh;
}

.trends-header, .mobile-map-helper {
  width: 100%;
  background-color: #222222;
  color: #fff;
  padding: 10px 0px;
  z-index: 100;
}

.trends-header a, #trends-header a:hover, #trends-header a:focus {
  color: unset;
  text-decoration: none;
}

.mobile-map-helper {
  position: absolute;
  bottom: 0px;
}

#tracker {
  height: 82vh;
}

#sidebar {
  overflow: hidden;
  height: 80vh;
  width: 100%;
  background-color: #fafafa;
}

#sidebar .header {
  color: #fff;
  background-color: #232323;
  padding: 15px 20px;
}

#sidebar .header .name {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#sidebar .count {
  color: #ffd42a;
  font-size: 44px;
  font-weight: bolder;
}

#sidebar .count-secondary {
  font-size: 150%;
  color: #ffdd55;
}

#sidebar .year {
  font-size: 70%;
}

#sidebar .shutdowns-list {
  overflow-y: scroll;
  height: 75%;
}

#trends {
  height: 70vh;
}

footer {
  color: #ffffff;
  background-color: #1586C9;
}

footer a {
  color: #ffffff;
}

footer a:hover, footer a:focus {
  color: #232323;
  text-decoration: none;
}


/* Button Styles */

.btn-link {
  color: #ffffff;
}

.btn-link:hover, .btn-link:focus {
  color: #ffffff;
}

@media screen and (max-width: 768px) {

  #intro, #map, #trends-header, #tracker, #sidebar, #trends
  {
    height: unset;
  }

  #map {
    height: 80vh;
  }

  .navbar, .navbar-brand.sflc-logo {
    background-color: #ffffff;
  }

  .navbar-brand.logo {
    font-size: 14px;
  }

  .site-name {
    display: none;
  }

  #sidebar {
    margin-top: 20px;
  }
}

.year-wise-report {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mobile-header {
  color: #fff;
  background-color: #232323;
  padding: 15px 5px;
}

@media screen and (max-width: 768px) {
  .map-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.count {
  color: #ffd42a;
  font-size: 18px;
  font-weight: bolder;
}

.count-secondary {
  font-size: 150%;
  color: #ffdd55;
}

#mobile-header .name {
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 10px; /* because the button below the header has a padding */
}

.trends {
  font-size: 12px;
}

#supporting-orgs .logos {
  text-align: center;
}

#supporting-orgs .logos img {
  margin: 10px 25px;
}

.navbar-default .navbar-offcanvas {
  background-color: #ffffff;
  text-align: right;
}

#petitionModal {
  top: 10%;
}
#petitionModal .modal-content {
  border-radius: 0px;
  border: 2px solid #ff4812;
}

#petitionModal .row {
  margin: 20px 0px;
}

.form-label-subtext {
  font-size: 75%;
  color: #808080;
}

/* Button Styles */
.no-radius {
  border-radius: 0px;
}

button.close {
  opacity: 1;
  font-size: 2em;
}

.btn-petition {
	color: #ffffff;
	background-color: #ff4812;
  text-transform: uppercase;
}

.btn-petition:hover, .btn-petition:focus, .btn-petition:active {
	color: #ffffff;
	background-color: #ef3802;
}

/* Slick Slide Styles */
.quotes-slideshow {
  margin-top: 50px;
}

.slick-slide > img {
  margin: auto;
}

.slick-prev:before, .slick-next:before {
  color: #ff4812;
}

/* News Section */
#news .title {
  text-align: center;
  margin-bottom: 1em;
}

#news ul li {
  margin-bottom: 1em;
}

/* Resources Page */
ul.resources-list li {
  margin-top: 20px;
}

ul.resources-list li:last-child {
  margin-bottom: 20px;
}

.btn-share {
    color: #fff;
    background-color: #3ab3d4;
    border-color: #3ab3d4;
    border-radius: 0px !important;
    margin-top: 0px !important;
    width: 50%!important;
}
#shareExperienceBtn {
    float: right;
}
.btn-danger {
    width: 50% !important;
    margin-top: 0px !important;
}
