/*
 * CSS overrides to bootstrap styles
 */

body {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
}

/* Navbar styles */

.navbar {
  background-color: #114ACB;
  color: white;
  max-height: 8vh;
  border: 0px solid transparent;
  border-radius: 0px;
}

.navbar-brand.sflc-logo, .navbar-brand.sflc-logo:hover, .navbar-brand.sflc-logo:focus {
  background-color: #1586C9;
}

.navbar-brand.logo, .navbar-brand.logo:hover, .navbar-brand.logo:focus {
  background-color: #222222;
  color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  background-color: none;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #222222;
}


section, .navbar {
  margin-bottom: 0px;
}

.navbar-brand > img {
  display: inline-block;
  margin-right: 5px;
}

#intro {
  height: 2vh;
}

#map {
  height: 80vh;
}

.trends-header {
  height: 8vh;
  width: 100%;
  background-color: #222222;
  color: #fff;
  line-height: 8vh;
  padding-left: 20px;
  z-index: 100;
}

.trends-header a, #trends-header a:hover, #trends-header a:focus {
  color: unset;
  text-decoration: none;
}

#tracker {
  height: 82vh;
}

#sidebar {
  overflow: hidden;
  height: 80vh;
  width: 100%;
  background-color: #fafafa;
}

#sidebar .header {
  color: #fff;
  background-color: #232323;
  padding: 15px 20px;
}

#sidebar .header .name {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#sidebar .count {
  color: #ffd42a;
  font-size: 44px;
  font-weight: bolder;
}

#sidebar .count-secondary {
  font-size: 150%;
  color: #ffdd55;
}

#sidebar .year {
  font-size: 70%;
}

#sidebar .shutdowns-list {
  overflow-y: scroll;
  height: 100%;
}

#trends {
  height: 70vh;
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 120vh;
    }
    #trends {
        margin-top: 120vh;
    }
}

footer {
  color: #ffffff;
  background-color: #1586C9;
}

/* Button Styles */

.btn-link {
  color: #ffffff;
}

.btn-link:hover, .btn-link:focus {
  color: #ffffff;
}
