/*
* CSS overrides to bootstrap styles
*/

body {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  text-align: justify;
}

p {
  margin: 1em 0em;
}

/* Navbar styles */

.navbar {
  background-color: #ffffff;
  color: #000000;
  max-height: 8vh;
  border: 0px solid transparent;
  border-radius: 0px;
  box-shadow: #cccccc 0px 1px 10px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand.sflc-logo, .navbar-brand.sflc-logo:hover, .navbar-brand.sflc-logo:focus {
  /*background-color: #1586C9;*/
}

.navbar-brand.logo, .navbar-brand.logo:hover, .navbar-brand.logo:focus {
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  background-color: none;
}

.navbar-default .navbar-nav > li > a {
  color: #ff4812;
  text-transform: uppercase;
  font-size: 95%; /* Hack for fixing navbar on tablet screens */
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ff4812;
  background-color: #222222;
}


section, .navbar {
  margin-bottom: 0px;
}

#intro {
  height: 2vh;
}

#map {
  height: 80vh;
}

.trends-header, .mobile-map-helper, .map-helper {
  width: 100%;
  background-color: #222222;
  color: #fff;
  padding: 10px 0px;
  z-index: 100;
}

.trends-header a, #trends-header a:hover, #trends-header a:focus {
  color: unset;
  text-decoration: none;
}

.mobile-map-helper, .map-helper {
  position: absolute;
  bottom: 0px;
}
.map-helper {
  width: auto !important;
}

#tracker {
  height: 82vh;
}

#sidebar {
  overflow: hidden;
  height: 80vh;
  width: 100%;
  background-color: #fafafa;
}

#sidebar .header {
  color: #fff;
  background-color: #232323;
  padding: 15px 0px;
}

#sidebar .header .name {
  font-size: 18px;
  margin-top: 5px;
  text-transform: uppercase;
}

#sidebar .count {
  color: #ffd42a;
  font-size: 36px;
  font-weight: bolder;
}

#sidebar .count-secondary {
  font-size: 150%;
  color: #ffdd55;
}

#sidebar .year {
  font-size: 70%;
}

#sidebar .shutdowns-list {
  overflow-y: scroll;
  height: 75%;
}

#sidebar .highlight-state {
  color: #c50400;
  font-weight: bold;
}

/* #trends {
  height: 70vh;
} */

footer {
  color: #ffffff;
  background-color: #1586C9;
}

footer a {
  color: #ffffff;
}

footer a:hover, footer a:focus {
  color: #232323;
  text-decoration: none;
}


/* Button Styles */

.btn-link {
  color: #ffffff;
}

.btn-link:hover, .btn-link:focus {
  color: #ffffff;
}

@media screen and (max-width: 991px) {

  #tracker, #map, #trends-header, #trends
  {
    height: unset;
  }

  #sidebar {
    height: 80vh;
    margin-bottom: 20px;
  }
  #sidebar .shutdowns-list {
    overflow-y: scroll;
    height: 100%;
  }

  #map {
    height: 80vh;
  }

  .navbar, .navbar-brand.sflc-logo {
    background-color: #ffffff;
  }

  .navbar-brand.logo {
    font-size: 14px;
  }

  .site-name {
    display: none;
  }

  #sidebar {
    margin-top: 20px;
  }
}

.year-wise-report {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mobile-header {
  color: #fff;
  background-color: #232323;
  margin-right: 0px;
  margin-left: 0px;
}

#mobile-header .row {
  margin-right: 0px;
  margin-left: 0px;
}

#mobile-header .header {
  padding: 15px 0px !important;
}

#sidebar .row {
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (max-width: 991px) {
  .map-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .map-row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.count {
  color: #ffd42a;
  font-size: 36px;
  font-weight: bolder;
}

.count-secondary {
  font-size: 150%;
  color: #ffdd55;
}

#mobile-header .name {
  font-size: 18px;
  margin-top: 5px;
  text-transform: uppercase;
}


.trends {
  font-size: 12px;
}

#supporting-orgs .logos {
  text-align: center;
}

#supporting-orgs .logos img {
  margin: 10px 25px;
}

.navbar-default .navbar-offcanvas {
  background-color: #ffffff;
  text-align: right;
}

#petitionModal {
  top: 10%;
}
#petitionModal .modal-content {
  border-radius: 0px;
  border: 2px solid #ff4812;
}

#petitionModal .row {
  margin: 20px 0px;
}

.form-label-subtext {
  font-size: 75%;
  color: #808080;
}

/* Button Styles */
.no-radius {
  border-radius: 0px;
}

button.close {
  opacity: 1;
  font-size: 2em;
}

.btn-petition {
	color: #ffffff;
	background-color: #ff4812;
  text-transform: uppercase;
}

.btn-petition:hover, .btn-petition:focus, .btn-petition:active {
	color: #ffffff;
	background-color: #ef3802;
}

/* Slick Slide Styles */
.quotes-slideshow {
  margin-top: 20px;
}

.slick-slide > img {
  margin: auto;
}

.slick-prev:before, .slick-next:before {
  color: #ff4812;
}

/* News Section */
#news .title {
  text-align: center;
  margin-bottom: 1em;
}

#news ul li {
  margin-bottom: 1em;
}

/* Resources Page */
ul.resources-list li {
  margin-top: 20px;
}

ul.resources-list li:last-child {
  margin-bottom: 20px;
}

.btn-share {
    color: #fff;
    background-color: #3ab3d4;
    border-color: #3ab3d4;
    border-radius: 0px !important;
    margin-top: 0px !important;
    width: 50%!important;
    white-space:normal !important;
}
#shareExperienceBtn {
    float: right;
}
.btn-danger {
    width: 50% !important;
    margin-top: 0px !important;
    border-radius: 0px !important;
    white-space:normal !important;
}

@media (max-width: 438px) {
  .btn-danger, .btn-share{
    height: 48px;
  }
}

@media (min-width: 992px) and (max-width: 1310px) {
  .btn-danger, .btn-share{
    height: 48px;
  }
}
.share-mobile {
  padding-left: 0px;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
}

#intro .container{
  padding-top: 0px;
  padding-bottom: 0px;
}

#slideshow .container {
  padding-top: 0px;
}

#updates, #news, #supporting-orgs, #longest-shutdowns {
  background-color: #f5f5f5;
}

.panel {
  margin-top: 20px;
}

#sidebar {
  border-bottom: 1px solid #e3e3e3;
}

.shutdowns-list-title {
  text-transform: uppercase;
}


.news-list {
  padding: 10px;
}

.twitter-embed {
    flex: none;
    padding: 10px;
}
.more-updates {
  text-align: center;
  padding: 10px;
  margin-top: 3em;
  margin-bottom: 2em;
}
.more-updates a{
background-color: #ff4812;
text-transform: uppercase;
font-size: 95%;
padding: 15px;
color: white;
}
.more-updates a:hover {
  color: black;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .latest-news {
    display: block;
  }
  .twitter-embed {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .latest-news {
    display: flex;
  }
  .news-list {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .hero-text {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .hero-text {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 15px;
    margin-bottom: 15px;

  }
}
.hero-text p {
  font-size: 1.75em;
}
.hero-text-highlight {
  font-size: 1.5em;
}
.hero-buttons .btn {
  height: 48px !important;
}
.report {
  border-width:2px;
  border-color:#ff4812;
  border-style:solid;
}
.report-title {
  font-size: 24px
}

.quotes, .supporting-orgs-logos, .about-us-text {
  padding:10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer-row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.longest-shutdowns-table {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 992px) {

}

@media (min-width: 992px) {
  .longest-shutdown-item {
    padding: 10px;
  }
  .longest-shutdown-item-left {
    width: 100%;
    text-align: right;
    padding: 10px;
  }
  .longest-shutdown-item-right {
    padding: 10px;
    border-left-style: solid;
    border-color: #ff4812;
  }
  #longest-shutdowns table td {
    padding-bottom: 10px !important;
  }
}

.days-number-highlight {
  color: #ff3100;
  font-size: 2em;
}

.longest-shutdown-item-left-state {
  padding-top: 10px !important;
  font-weight: bold;
}

/* OONI Probe Test Button */
.ooni-run-button {
  font-size: 16px;
  border-radius: 24px;
  display: inline-block;
  height: 32px;
  line-height: 30px;
  padding-left: 24px;
  padding-right: 24px;
  text-transform: uppercase;
  outline: 0;
  font-family: inherit;
  font-weight: 600;
  text-decoration: none;
  color: #0588cb;
  background-color: white;
  border: 1px solid #0588cb;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  margin-bottom: 16px;
}
.ooni-btn:hover {
  color: white;
  border: 1px solid #0588cb;
  background-color: #0588cb;
}
a:hover {
  text-decoration: underline;
}
.btn-ooni {
  color: #3b3a3a;
  background-color: #fff300;
  border-color: #fff300;
  border-radius: 0px !important;
  margin-top: 0px !important;
  white-space:normal !important;
}


/*

.bar-chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
} */
