/*
 * CSS overrides to bootstrap styles
 */

body {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
}

/* Navbar styles */

.navbar {
  background-color: #114ACB;
  color: white;
  height: 8vh;
  border: 0px solid transparent;
  border-radius: 0px;
}

.navbar-brand.sflc-logo, .navbar-brand.sflc-logo:hover, .navbar-brand.sflc-logo:focus {
  background-color: #1586C9;
}

.navbar-brand.logo, .navbar-brand.logo:hover, .navbar-brand.logo:focus {
  background-color: #222222;
  color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  background-color: none;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #222222;
}


section, .navbar {
  margin-bottom: 0px;
}

.navbar-brand > img {
  display: inline-block;
  margin-right: 5px;
}

#intro {
  height: 2vh;
}

#map {
  height: 80vh;
}

#trends-header {
  height: 8vh;
  width: 100%;
  background-color: #222222;
  color: #fff;
  line-height: 8vh;
  padding-left: 20px;
  z-index: 100;
}

#trends-header a, #trends-header a:hover, #trends-header a:focus {
  color: unset;
  text-decoration: none;
}

#tracker {
  height: 82vh;
}

#sidebar {
  overflow: hidden;
  height: 80vh;
  width: 100%;
  background-color: #fafafa;
}

#sidebar .name {
  height: 2.5em;
  line-height: 2.5em;
  font-size: 25px;
}

#sidebar .highlight .count {
  font-size: 120px;
}

#sidebar .highlight {
  font-size: 40px;
  color: #fff;
  background-color: #222;
}

#sidebar .shutdowns-list {
  overflow-y: scroll;
  height: 100%;
}

#trends {
  height: 70vh;
}

footer {
  color: #ffffff;
  background-color: #1586C9;
}
